.alert{
  &__confirm-btn{
    display: block;
    margin:0 auto;
    padding: 0;
    width: 1.7rem;
    height: .6rem;
    line-height: .6rem;
    border:none;
    background-color: #fd9809;
    color: #fff;
    text-align: center;
  }
}