.item-wrap {
  padding: 0 .2rem;
}
.item {
  margin-top: .2rem;
  width: 2.9rem;
}
.item__img {
  display: block;
  width: 100%;
  height: 3rem;
}
.item__price {
  margin-top: .1rem;
  color: #f44;
  font-family: arial;
}