@charset "UTF-8";
/*
  布局
*/
.ly {
  display: flex;
}

.lyd-c {
  flex-direction: column;
}

.ly-multi {
  flex-wrap: wrap;
}

.ly-center, .ly-c {
  justify-content: center;
}

.ly-around, .ly-a {
  justify-content: space-around;
}

.ly-right, .ly-r {
  justify-content: flex-end;
}

.ly-justify, .ly-j {
  justify-content: space-between;
}

.ly-top, .ly-t {
  align-items: top;
}

.ly-middle, .ly-m {
  align-items: center;
}

.ly-bottom, .ly-b {
  align-items: flex-end;
}

.lyi-fill, .lyi-f {
  /* 不会超出父元素*/
  width: 0;
  flex-grow: 1;
}

/* 宽度不固定的绝对定位元素水平居中 */
.ly-abs-c {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 高度不固定的绝对定位元素垂直居中 */
.ly-abs-m {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ta-center, .ta-c {
  text-align: center;
}

.ta-right, .ta-r {
  text-align: right;
}

.pos-r {
  position: relative;
}

/*
  盒模型
*/
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.d-b {
  display: block;
}

.d-b-i {
  display: block !important;
}

.d-ib {
  display: inline-block;
}

.d-ib-i {
  display: inline-block !important;
}

.d-n {
  display: none;
}

.d-n-i {
  display: none !important;
}

.v-h {
  visibility: hidden;
}

.v-h-i {
  visibility: hidden !important;
}

/*
size
*/
.h-100per {
  height: 100%;
}

.h-100per-i {
  height: 100% !important;
}

.w-50per {
  width: 50%;
}

.w-50per-i {
  width: 50% !important;
}

.w-100per {
  width: 100%;
}

.w-100per-i {
  width: 100% !important;
}

.mt-0 {
  margin-top: 0;
}

.mt-0-i {
  margin-top: 0 !important;
}

.mt-5 {
  margin-top: 5px;
}

.mt-5-i {
  margin-top: 5px !important;
}

.mt-5rem {
  margin-top: 0.1rem;
}

.mt-5rem-i {
  margin-top: 0.1rem !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-10-i {
  margin-top: 10px !important;
}

.mt-10rem {
  margin-top: 0.2rem;
}

.mt-10rem-i {
  margin-top: 0.2rem !important;
}

.mt-15 {
  margin-top: 15px;
}

.mt-15-i {
  margin-top: 15px !important;
}

.mt-15rem {
  margin-top: 0.3rem;
}

.mt-15rem-i {
  margin-top: 0.3rem !important;
}

.mt-20 {
  margin-top: 20px;
}

.mt-20-i {
  margin-top: 20px !important;
}

.mt-20rem {
  margin-top: 0.4rem;
}

.mt-20rem-i {
  margin-top: 0.4rem !important;
}

.mr-0 {
  margin-right: 0;
}

.mr-0-i {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px;
}

.mr-5-i {
  margin-right: 5px !important;
}

.mr-5rem {
  margin-right: 0.1rem;
}

.mr-5rem-i {
  margin-right: 0.1rem !important;
}

.mr-10 {
  margin-right: 10px;
}

.mr-10-i {
  margin-right: 10px !important;
}

.mr-10rem {
  margin-right: 0.2rem;
}

.mr-10rem-i {
  margin-right: 0.2rem !important;
}

.mr-15 {
  margin-right: 15px;
}

.mr-15-i {
  margin-right: 15px !important;
}

.mr-15rem {
  margin-right: 0.3rem;
}

.mr-15rem-i {
  margin-right: 0.3rem !important;
}

.mr-20 {
  margin-right: 20px;
}

.mr-20-i {
  margin-right: 20px !important;
}

.mr-20rem {
  margin-right: 0.4rem;
}

.mr-20rem-i {
  margin-right: 0.4rem !important;
}

.ml-0 {
  margin-left: 0;
}

.ml-0-i {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px;
}

.ml-5-i {
  margin-left: 5px !important;
}

.ml-5rem {
  margin-left: 0.1rem;
}

.ml-5rem-i {
  margin-left: 0.1rem !important;
}

.ml-10 {
  margin-left: 10px;
}

.ml-10-i {
  margin-left: 10px !important;
}

.ml-10rem {
  margin-left: 0.2rem;
}

.ml-10rem-i {
  margin-left: 0.2rem !important;
}

.ml-15 {
  margin-left: 15px;
}

.ml-15-i {
  margin-left: 15px !important;
}

.ml-15rem {
  margin-left: 0.3rem;
}

.ml-15rem-i {
  margin-left: 0.3rem !important;
}

.ml-20 {
  margin-left: 20px;
}

.ml-20-i {
  margin-left: 20px !important;
}

.ml-20rem {
  margin-left: 0.4rem;
}

.ml-20rem-i {
  margin-left: 0.4rem !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-0-i {
  margin-bottom: 0 !important;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-5-i {
  margin-bottom: 5px !important;
}

.mb-5rem {
  margin-bottom: 0.1rem;
}

.mb-5rem-i {
  margin-bottom: 0.1rem !important;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-10-i {
  margin-bottom: 10px !important;
}

.mb-10rem {
  margin-bottom: 0.2rem;
}

.mb-10rem-i {
  margin-bottom: 0.2rem !important;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-15-i {
  margin-bottom: 15px !important;
}

.mb-15rem {
  margin-bottom: 0.3rem;
}

.mb-15rem-i {
  margin-bottom: 0.3rem !important;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-20-i {
  margin-bottom: 20px !important;
}

.mb-20rem {
  margin-bottom: 0.4rem;
}

.mb-20rem-i {
  margin-bottom: 0.4rem !important;
}

.m-0 {
  margin: 0;
}

.m-0-i {
  margin: 0 !important;
}

.mh-0 {
  margin-left: 0;
  margin-right: 0;
}

.mh-0-i {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mv-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.mv-0-i {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-5 {
  margin: 5px;
}

.m-5-i {
  margin: 5px !important;
}

.mh-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mh-5-i {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.mv-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mv-5-i {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.m-5rem {
  margin: 0.1rem;
}

.m-5rem-i {
  margin: 0.1rem !important;
}

.mh-5rem {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.mh-5rem-i {
  margin-left: 0.1rem !important;
  margin-right: 0.1rem !important;
}

.mv-5rem {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.mv-5rem-i {
  margin-top: 0.1rem !important;
  margin-bottom: 0.1rem !important;
}

.m-10 {
  margin: 10px;
}

.m-10-i {
  margin: 10px !important;
}

.mh-10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mh-10-i {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mv-10-i {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-10rem {
  margin: 0.2rem;
}

.m-10rem-i {
  margin: 0.2rem !important;
}

.mh-10rem {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.mh-10rem-i {
  margin-left: 0.2rem !important;
  margin-right: 0.2rem !important;
}

.mv-10rem {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.mv-10rem-i {
  margin-top: 0.2rem !important;
  margin-bottom: 0.2rem !important;
}

.m-15 {
  margin: 15px;
}

.m-15-i {
  margin: 15px !important;
}

.mh-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mh-15-i {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.mv-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mv-15-i {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.m-15rem {
  margin: 0.3rem;
}

.m-15rem-i {
  margin: 0.3rem !important;
}

.mh-15rem {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

.mh-15rem-i {
  margin-left: 0.3rem !important;
  margin-right: 0.3rem !important;
}

.mv-15rem {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.mv-15rem-i {
  margin-top: 0.3rem !important;
  margin-bottom: 0.3rem !important;
}

.m-20 {
  margin: 20px;
}

.m-20-i {
  margin: 20px !important;
}

.mh-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mh-20-i {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.mv-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mv-20-i {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.m-20rem {
  margin: 0.4rem;
}

.m-20rem-i {
  margin: 0.4rem !important;
}

.mh-20rem {
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.mh-20rem-i {
  margin-left: 0.4rem !important;
  margin-right: 0.4rem !important;
}

.mv-20rem {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.mv-20rem-i {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}

.pt-0 {
  padding-top: 0;
}

.pt-0-i {
  padding-top: 0 !important;
}

.pt-5 {
  padding-top: 5px;
}

.pt-5-i {
  padding-top: 5px !important;
}

.pt-5rem {
  padding-top: 0.1rem;
}

.pt-5rem-i {
  padding-top: 0.1rem !important;
}

.pt-10 {
  padding-top: 10px;
}

.pt-10-i {
  padding-top: 10px !important;
}

.pt-10rem {
  padding-top: 0.2rem;
}

.pt-10rem-i {
  padding-top: 0.2rem !important;
}

.pt-15 {
  padding-top: 15px;
}

.pt-15-i {
  padding-top: 15px !important;
}

.pt-15rem {
  padding-top: 0.3rem;
}

.pt-15rem-i {
  padding-top: 0.3rem !important;
}

.pt-20 {
  padding-top: 20px;
}

.pt-20-i {
  padding-top: 20px !important;
}

.pt-20rem {
  padding-top: 0.4rem;
}

.pt-20rem-i {
  padding-top: 0.4rem !important;
}

.pr-0 {
  padding-right: 0;
}

.pr-0-i {
  padding-right: 0 !important;
}

.pr-5 {
  padding-right: 5px;
}

.pr-5-i {
  padding-right: 5px !important;
}

.pr-5rem {
  padding-right: 0.1rem;
}

.pr-5rem-i {
  padding-right: 0.1rem !important;
}

.pr-10 {
  padding-right: 10px;
}

.pr-10-i {
  padding-right: 10px !important;
}

.pr-10rem {
  padding-right: 0.2rem;
}

.pr-10rem-i {
  padding-right: 0.2rem !important;
}

.pr-15 {
  padding-right: 15px;
}

.pr-15-i {
  padding-right: 15px !important;
}

.pr-15rem {
  padding-right: 0.3rem;
}

.pr-15rem-i {
  padding-right: 0.3rem !important;
}

.pr-20 {
  padding-right: 20px;
}

.pr-20-i {
  padding-right: 20px !important;
}

.pr-20rem {
  padding-right: 0.4rem;
}

.pr-20rem-i {
  padding-right: 0.4rem !important;
}

.pl-0 {
  padding-left: 0;
}

.pl-0-i {
  padding-left: 0 !important;
}

.pl-5 {
  padding-left: 5px;
}

.pl-5-i {
  padding-left: 5px !important;
}

.pl-5rem {
  padding-left: 0.1rem;
}

.pl-5rem-i {
  padding-left: 0.1rem !important;
}

.pl-10 {
  padding-left: 10px;
}

.pl-10-i {
  padding-left: 10px !important;
}

.pl-10rem {
  padding-left: 0.2rem;
}

.pl-10rem-i {
  padding-left: 0.2rem !important;
}

.pl-15 {
  padding-left: 15px;
}

.pl-15-i {
  padding-left: 15px !important;
}

.pl-15rem {
  padding-left: 0.3rem;
}

.pl-15rem-i {
  padding-left: 0.3rem !important;
}

.pl-20 {
  padding-left: 20px;
}

.pl-20-i {
  padding-left: 20px !important;
}

.pl-20rem {
  padding-left: 0.4rem;
}

.pl-20rem-i {
  padding-left: 0.4rem !important;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-0-i {
  padding-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-5-i {
  padding-bottom: 5px !important;
}

.pb-5rem {
  padding-bottom: 0.1rem;
}

.pb-5rem-i {
  padding-bottom: 0.1rem !important;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-10-i {
  padding-bottom: 10px !important;
}

.pb-10rem {
  padding-bottom: 0.2rem;
}

.pb-10rem-i {
  padding-bottom: 0.2rem !important;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-15-i {
  padding-bottom: 15px !important;
}

.pb-15rem {
  padding-bottom: 0.3rem;
}

.pb-15rem-i {
  padding-bottom: 0.3rem !important;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-20-i {
  padding-bottom: 20px !important;
}

.pb-20rem {
  padding-bottom: 0.4rem;
}

.pb-20rem-i {
  padding-bottom: 0.4rem !important;
}

.p-0 {
  padding: 0;
}

.p-0-i {
  padding: 0 !important;
}

.ph-0 {
  padding-left: 0;
  padding-right: 0;
}

.ph-0-i {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pv-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pv-0-i {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-5 {
  padding: 5px;
}

.p-5-i {
  padding: 5px !important;
}

.ph-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.ph-5-i {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.pv-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pv-5-i {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.p-5rem {
  padding: 0.1rem;
}

.p-5rem-i {
  padding: 0.1rem !important;
}

.ph-5rem {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.ph-5rem-i {
  padding-left: 0.1rem !important;
  padding-right: 0.1rem !important;
}

.pv-5rem {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.pv-5rem-i {
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

.p-10 {
  padding: 10px;
}

.p-10-i {
  padding: 10px !important;
}

.ph-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.ph-10-i {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.pv-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pv-10-i {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.p-10rem {
  padding: 0.2rem;
}

.p-10rem-i {
  padding: 0.2rem !important;
}

.ph-10rem {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.ph-10rem-i {
  padding-left: 0.2rem !important;
  padding-right: 0.2rem !important;
}

.pv-10rem {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.pv-10rem-i {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

.p-15 {
  padding: 15px;
}

.p-15-i {
  padding: 15px !important;
}

.ph-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.ph-15-i {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.pv-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pv-15-i {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.p-15rem {
  padding: 0.3rem;
}

.p-15rem-i {
  padding: 0.3rem !important;
}

.ph-15rem {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}

.ph-15rem-i {
  padding-left: 0.3rem !important;
  padding-right: 0.3rem !important;
}

.pv-15rem {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.pv-15rem-i {
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
}

.p-20 {
  padding: 20px;
}

.p-20-i {
  padding: 20px !important;
}

.ph-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.ph-20-i {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pv-20-i {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-20rem {
  padding: 0.4rem;
}

.p-20rem-i {
  padding: 0.4rem !important;
}

.ph-20rem {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
}

.ph-20rem-i {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}

.pv-20rem {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.pv-20rem-i {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

/*
cursor
*/
.cursor-p {
  cursor: pointer;
}

.cursor-na {
  cursor: not-allowed;
}

/*
* border
*/
.b {
  border: 1px solid #ccc;
}

.b-i {
  border: 1px solid #ccc !important;
}

.bh, .bhorizontal {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.bh-i, .bhorizontal-i {
  border-top: 1px solid #ccc !important;
  border-bottom: 1px solid #ccc !important;
}

.bv, .bvertical {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.bv, .bvertical {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.bt, .btop {
  border-top: 1px solid #ccc;
}

.bt-i, .btop-i {
  border-top: 1px solid #ccc !important;
}

.br, .bright {
  border-right: 1px solid #ccc;
}

.br-i, .bright-i {
  border-right: 1px solid #ccc !important;
}

.bl, .bleft {
  border-left: 1px solid #ccc;
}

.bl-i, .bleft-i {
  border-left: 1px solid #ccc !important;
}

.bb, .bbottom {
  border-bottom: 1px solid #ccc;
}

.bb-i, .bbottom-i {
  border-bottom: 1px solid #ccc !important;
}

/*
* border-radius
*/
.br-lg {
  border-radius: 25px;
}

.br-lg-i {
  border-radius: 25px !important;
}

.br-md {
  border-radius: 15px;
}

.br-md-i {
  border-radius: 15px !important;
}

.br-sm {
  border-radius: 5px;
}

.br-sm-i {
  border-radius: 5px !important;
}

.br-round {
  border-radius: 50%;
  overflow: hidden;
  /* 防止子元素如果有背景色，会覆盖圆角 */
}

.br-round-i {
  border-radius: 50% !important;
  overflow: hidden !important;
  /* 防止子元素如果有背景色，会覆盖圆角 */
}

.bgc-grey {
  background-color: #f5f5f5;
}

.bgc-grey-i {
  background-color: #f5f5f5 !important;
}

.bgz-cover {
  -webkit-background-size: cover;
  background-size: cover;
}

.bgz-cover-i {
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.bgz-contain {
  -webkit-background-size: contain;
  background-size: contain;
}

.bgz-contain-i {
  -webkit-background-size: contain !important;
  background-size: contain !important;
}

.bgz-100 {
  -webkit-background-size: 100%;
  background-size: 100%;
}

.bgz-100-i {
  -webkit-background-size: 100% !important;
  background-size: 100% !important;
}

/*
img
*/
.img-rwd {
  max-width: 100%;
  height: auto;
}

/*
  font
*/
.fz-xl {
  font-size: 20px;
}

.fz-20 {
  font-size: 20px;
}

.fz-xl-i {
  font-size: 20px !important;
}

.fz-20-i {
  font-size: 20px !important;
}

.fz-lg {
  font-size: 18px;
}

.fz-18 {
  font-size: 18px;
}

.fz-lg-i {
  font-size: 18px !important;
}

.fz-18-i {
  font-size: 18px !important;
}

.fz-md {
  font-size: 16px;
}

.fz-16 {
  font-size: 16px;
}

.fz-md-i {
  font-size: 16px !important;
}

.fz-16-i {
  font-size: 16px !important;
}

.fz-sm {
  font-size: 14px;
}

.fz-14 {
  font-size: 14px;
}

.fz-sm-i {
  font-size: 14px !important;
}

.fz-14-i {
  font-size: 14px !important;
}

.fz-xs {
  font-size: 12px;
}

.fz-12 {
  font-size: 12px;
}

.fz-xs-i {
  font-size: 12px !important;
}

.fz-12-i {
  font-size: 12px !important;
}

.fw-bold, .fw-b {
  font-weight: bold;
}

.fw-bold-i, .fw-b-i {
  font-weight: bold !important;
}

.fw-light, .fw-lighter, .fw-l {
  font-weight: lighter;
}

.fw-light-i, .fw-lighter-i, .fw-l-i {
  font-weight: lighter !important;
}

.lh-lg {
  line-height: 1.5;
}

.lh-lg-i {
  line-height: 1.5 !important;
}

.lh-md {
  line-height: 1.2;
}

.lh-md-i {
  line-height: 1.2 !important;
}

.lh-sm {
  line-height: 1;
}

.lh-sm-i {
  line-height: 1 !important;
}

/* 微软雅黑 */
.ff-yahei {
  font-family: tahoma,arial,"STXihei","Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun;
}

.ff-yahei-i {
  font-family: tahoma,arial,"STXihei","Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun !important;
}

/* 普通黑体 */
.ff-hei {
  font-family: tahoma,arial,"STXihei",SimHei,"Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun;
}

.ff-hei-i {
  font-family: tahoma,arial,"STXihei",SimHei,"Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", "宋体", SimSun !important;
}

/* 宋体 */
.ff-song {
  font-family: tahoma,arial,"宋体", SimSun;
}

.ff-song-i {
  font-family: tahoma,arial,"宋体", SimSun !important;
}

.c-i {
  color: inherit;
}

.c-i-i {
  color: inherit !important;
}

.c-grey {
  color: #666;
}

.c-grey-i {
  color: #666 !important;
}

.c-light-grey {
  color: #999;
}

.c-light-grey-i {
  color: #999 !important;
}

.c-primary {
  color: #259;
}

.c-primary-i {
  color: #259 !important;
}

/* 
单行文本,超出显示省略号。
*/
.text-dotdotdot, .t-ddd, .text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 
多行文本。超出显示省略号。
兼容性比较差。建议用 JS 库来做。
*/
.text-ellipsis-multi {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /*可能需要调整行高，如 line-height: 130%;*/
}

/* 禁止选中文本 */
.text-no-select, .t-no-select {
  user-select: none;
}

.tt-u {
  text-transform: uppercase;
}

.placeholder {
  box-sizing: border-box;
  display: flex;
  border: 1px solid #f00;
  background-color: #ddd;
  height: 30px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
}

